
{% extends 'base.html' %}

{% block title %}Chat Room{% endblock %}

{% block content %}
    <h1 id="room-name"></h1>
    <textarea id="chat-log" cols="100" rows="20" style="resize: none;"></textarea><br/>
    <input id="message-input" type="text" size="100" placeholder="Enter message here..."><br/>
    <input id="message-submit" type="button" value="Send">
{% endblock %}

<script type='text/javascript'>

    // document nodes used in script
    const messageInput = document.querySelector('#message-input');
    const messageSubmit = document.querySelector('#message-submit');
    const roomNameNode = document.querySelector('#room-name');

    var roomName = {{ room_name_json }};

    changeNodeText(roomNameNode, roomName);

    // helper function
    function changeNodeText(node, text) {
        node.innerText = text.trim();
    } 

    // websocket
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + 
        '/ws/chat/' + roomName + '/'
    );

    // websocket listeners
    chatSocket.onmessage = function(e) {
        var date = JSON.parse(e.data)
    };

    chatSocket.onclose = function(e) {

    };

    // events listeners for message-input and message-submit
    messageInput.focus();
    messageInput.onkeyup = function(e) {
        // check if enter key is enter/return
        if (e.keycode === 13) {
            messageSubmit.click();
        }
    }
    messageSubmit.onclick = function(e) {
        var message = messageSubmit.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    }
</script>